h4 {
  color: green;
}

p {
  color: purple;
}

button {
  color: peru;
  background-color: rgb(210, 227, 172);
}

/* element selector */
body {
  /* background-color: pink; */
  background-image: url("background.jpg");
  background-size: cover;
  text-align: center;
}

/* universal selector:

* {
  color: pink;

} */

/*Id Selector */
#heading1 {
  color: rgb(255, 0, 0);
}

/* Class selector */
.myclass {
  color: blueviolet;
}

#box {
  color: red;
  background-color: yellow;

  /* take only required space*/
  display: inline;
}

.class1 {
  color: blue;

  /* adding bolder or lighter content */
  font-weight: bolder;
}

/* to set the alinement */
#par1 {
  text-align: center;
}

h3 {
  text-align: center;
  text-decoration: underline;

  /* for adding color for underline */
  text-decoration-color: brown;
}

/* if we don't want underline for anchor tag */
/* a {
  text-decoration: none;
} */

#par2 {
  font-family: cursive;
  text-transform: capitalize;
}

#outer {
  /*used for setting the text size */
  font-size: 25px;
}
#inner {
  font-size: 20px;

  /*give the height -vertical area*/
  height: 100px;

  /*for setting width*/
  width: 200px;
  background-color: yellow;

  /*setting border style and color*/
  /* border-style: dotted;
  border-color: red; 
  */
  border: 2px dotted red;
  /* for round border  //for circle border-radius: 50px*/
  border-radius: 15px;

  /* for setting space at left,right,top,bottom */
  /* padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px; */

  /*     top ! right ! bottom ! left*/
  padding: 50px 50px 50px 50px;
  margin: 25px 25px 25px 25px;
}
.traffic {
  width: 30px;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 50px;
}

.c-red {
  height: 50px;
  width: 50px;
  border-radius: 50px;

  /* RGBA(red,green,blue,alpha(to set the darker and lighter shade)*/
  background-color: rgba(255, 0, 0, 0.75);
}
.c-orange {
  background-color: orange;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.c-green {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: green;
}
/* * {
  padding: 0;
  margin: 0;
} */
#navbar {
  height: 60px;
  background-color: #0f1111;
}
#search {
  background-color: #f08804;
}
#logo {
  color: #f08804;
  font-size: 25px;
}
a {
  color: black;
  margin-right: 150px;
  text-decoration: none;
}
.contentbox {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
#content {
  height: 500px;
}
footer {
  background-color: #0f1111;
  color: white;
}

.box1 {
  height: 100px;
  width: 100px;
  background-color: green;
  font-size: 10px;
}
.box2 {
  height: 100px;
  /* child div consider 10% width of parent's width*/
  width: 40%;
  background-color: yellow;
  margin-left: 20%;

  /* 2em :cosider 2 times parent font size */
  font-size: 2em;

  /*font size :consider 3 times(font size of itself*/
  width: 3em;

  /* rem: based on outer element it set the property*/
  height: 3rem;
}
.box3 {
  height: 100px;
  width: 100px;
  background-color: orangered;
  border: 2px solid black;
  display: inline-block;

  /* if we set position as static then no chnages will appear*/
  /* position: static; */
  position: relative;

  /* if we set the z-index value  +ve :overlap -ve:under*/
  z-index: -1;

  /* z-index: -1; */

  /* based on scroll position element is fixed*/
  /* position: sticky;
  top: 0px; */

  /*setting image at backgroud*/
  background-image: url("1.jpg");

  /*image set completely in background*/
  background-size: cover;
  color: white;
}
.box4 {
  height: 100px;
  width: 100px;
  background-color: orange;
  border: 2px solid black;

  /* if we set position as relative then chnages appear in website
      chnages happens by considering itself*/
  position: relative;
  top: 20px;

  /*z-index value for box4 is greater than box 3 then second box overlap*/
  /* z-index: 4; */

  /* move towards right*/
  right: 70px;

  /* used to display horizontally so it get small space*/
  display: inline-block;

  background-image: url("2.jpg");
  background-size: cover;
  color: black;
}
.box5 {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;

  /* element consider its parent element(ancester) for chnages*/
  position: absolute;
  bottom: 10px;
  background-image: url("3.jpg");
  background-size: cover;
  color: white;
}
.box6 {
  height: 100px;
  width: 100px;
  background-color: rgb(195, 207, 29);
  border: 2px solid pink;
  display: inline-block;

  /*position is everytime fixed*/
  position: fixed;
  right: 10px;
  background-image: url("4.jpg");
  /*enlarge image appear*/
  background-size: auto;
  color: white;
}

/* flex layout part*/
#flex1 {
  color: red;
  height: 100px;
  width: 100px;
  background-color: aqua;
}
#flex2 {
  color: red;
  height: 200px;
  width: 100px;
  background-color: purple;
  flex-grow: 1;
}
#flex3 {
  color: red;
  height: 75px;
  width: 100px;
  background-color: blanchedalmond;
}
#flex4 {
  color: red;
  height: 90px;
  width: 100px;
  background-color: burlywood;
  /*align single item differently */
  align-self: flex-start;

  /* how the flex items shrink when their is not enough space in flex conatiner*/
  /* flex-shrink: 2; */

  /*take the remianing space of flex container*/
  flex-grow: 2;
}
.flexlayout {
  /* if we want all item at center then disply:flex,flex-direction:row,justify-content:center*/
  height: 600px;
  border: 2px solid black;
  background-color: white;

  /*used to create flex container*/
  display: flex;

  /* display flex box items direction*/
  flex-direction: row;

  /*for setting the content layout flex-start,flex-end,flex-center*/
  /* justify-content: flex-start; */
  justify-content: center;
  flex-wrap: wrap;

  /* evenly distrubute space// for start and end-half space than middle */
  /* justify-content: space-around;  */

  /*evenly distrubute space  space-between:space distributed in between only*/
  /* justify-content: space-evenly; */

  /*cross axis from horizontal*/
  align-items: flex-end;
  align-content: center;
}
.practice {
  color: #0f1111;
  display: flex;
  justify-content: space-evenly;
}
li {
  /* remove bullet points before list items*/
  list-style-type: none;
  display: inline-block;
  /* background-color: white; */
}
ul {
  background-color: rgb(188, 99, 114);
}
.outerdiv {
  height: 300px;
  width: 300px;
  background-color: #d0cbea;
  display: flex;
  /*align item center across x-axis*/
  justify-content: center;
  /* align items at center along y-axis*/
  align-items: center;
}
.innerdiv {
  height: 100px;
  width: 100px;
  background-color: rgb(109, 12, 227);
}
